{% extends "base.html" %}
{% block content %}
    <div class="container py-5">
        <h5 align="center" >About Kiez Diary</h5>  <br><br>
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">  
  
            <p>
                Journaling certainly isn't a new self-care practice - it's become a wellness mainstay over the past few years. <br>
                But what if we journal together? Could it broaden our consciousness? Could it promote self-reflection and idenfication with otherness at the same time?   </div>

            </p>
<p>
                How it works:
                Users share their location at the time they write into the journal. All entries are anonymous and listed together. 
               <br> <p>Every day a Kiez tells its story through the people living in it. Let's publish it.</p>





            </p>
        </article>
    </div>

{% endblock %}


