{% extends "base.html" %}
{% block content %}
    <div class="container py-5">
        <h5 align="center" >same geometry entries</h5>  
    </div>
    {% for post in diary %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <small>
          <a class="mr-2" href="{{ url_for('timely', date=post.date_posted.strftime('%H-%M-%S')) }}">{{ post.date_posted.strftime('%H:%M-%S') }}</a>
          <a class="mr-2" href="{{ url_for('daily', date=post.date_posted.strftime('%Y-%m-%d')) }}"> {{ post.date_posted.strftime('%Y-%m-%d') }}</a>
          </small>
          
          <p class="article-content">{{ post.content }}</p>
              </div>
    </article>
  {% endfor %}



{% endblock %}