{% extends "layout.html" %}

{% block body %}
<div class="content-section">
  <div class="row w-50 mx-auto">
    <div class="col mt-3">
      <h1>Kiez Diary</h1>
      <form action="" method="POST">
        {{ form.hidden_tag() }}
        <fieldset class="card form-control d-grid gap-3">

          <div class="form-group">
            {% if form.content.errors %} 
            {{ form.content(class="form-control is-invalid", placeholder="Select
            activity type") }}
            <div class="invalid-feedback">
              {% for error in form.content.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} 
            {{ form.content(class="form-control", placeholder="Write your Diary Entry") }} 
            {% endif %}
            {{ form.longitude() }}
            {{ form.latitude() }}

          </div>

          <div class="form-group">{{ form.submit(class="secondary")}}</div>
        </fieldset>
      </form>
    </div>
  </div>
</div>

{% endblock %}
